<% content_for :head do %>
  <%= stylesheet_link_tag "index" %>
<% end %>

<div id="list_container">
  <h1>Articles</h1>
  
  <% @articles.limit(9).each do |article| %>
    <div class="articles">
      <h3><%= article.title %></h3>
      <p><%= article.body %></p>
      <%# TODO: Turn into links %>
      <%= image_tag("edit.svg", id: "edit") %>
      <%= image_tag("comment.svg", id: "comment") %>
      <%= image_tag("maximize.svg", id: "maximize") %>      
    </div>
  <% end %>
</div>