<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!--Google Fonts-->
    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Kalam:wght@300&display=swap", media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_importmap_tags %>

    <%= favicon_link_tag asset_path('site_icon.png') %>

    <%= yield :head %>
  </head>

  <body>
    <div id="header">
      <%= link_to articles_path, id: "home_link" do %>
        <%= image_tag("site_icon.png") %>
        Home
      <% end %>
      <%= link_to "New article", new_article_path, id: "new_article" %>
    </div>

    <div id="main_content">
      <%= yield %>
    </div>

    <div id="footer">
      <%= link_to "Writing icons created by Freepik - Flaticon", "https://www.flaticon.com/free-icons/writing" %>
      <span>
        Photos by
        <%= link_to "Annie Spratt", "https://unsplash.com/@anniespratt?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" %>
        and
        <%= link_to "Kiwihug", "https://unsplash.com/@kiwihug?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" %>
        <%= link_to "on Unsplash", "https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" %> 
      </span>
    </div>
  </body>
</html>
